body,
h1 {
    color: #FFF;
}

.wrapper nav {
    margin-bottom: 0;
}

.container {
    margin: 0 auto;
    max-width: 100rem;
    width: 100%;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 3.2rem;
}

.page-header {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    border: 0;
    padding: 0;
}

.page-header .page-title {
    margin-bottom: .75em;
}

#h1 {
    font-size: 3.0rem;
    line-height: 5.2rem;
    text-transform: none;
    letter-spacing: .0625em;
    display: block;
    border-bottom: .12em solid #ffcd00;
    width: fit-content;
}

#description {
    font-size: 1.5em;
    letter-spacing: .08em;
    line-height: 2em;
    font-weight: 700;
    color: #ffcd00;
    margin-bottom: 2rem;
}

#content {
    font-size: 1.2em;
    line-height: 2.4rem;
    letter-spacing: .06em;
    color: #cecece;
}